<img class="game-icon" ng-click="$ctrl.toggleSelected($event)" ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{$ctrl.gameid}}/header.jpg"/>
<h1 class="title" ng-class="{selected:$ctrl.selected}" ng-click="$ctrl.toggleSelected($event)">{{$ctrl.information.title}}</h1>
<ul class="categories" ng-class="{hidden:(!$ctrl.useCategories)}">
    <li ng-repeat="category in $ctrl.information.categories" ng-click="$ctrl.toggleSelected($event,category)" ng-class="{selected:category.selected}" class="{{category.title}}">{{category.title}}</li>
</ul>
<textarea 
    class="review"
    placeholder="Here is what I think about the game..." 
    ng-click="$event.stopPropagation()" 
    ng-keyup="$ctrl.reviewExpand($event)"
    ng-class="{selected:$ctrl.selected}" 
    rows="1"
    ng-model="$ctrl.information.review">
</textarea>
<div class="category-toggle" ng-click="$ctrl.toggleUseCategories($event)">{{($ctrl.useCategories)?'No contest? Click to simply choose an overall winner':'Too close to call? Click to choose by categories'}}</div>