game{
	color:#1b2848;
	box-shadow:.1px .1px 8px #000000;

	max-width:460px;

	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	align-items:flex-start;
	justify-content:flex-start;
	align-content:baseline;
}

game h1.title{
	background-color:#1b2848;
	color:white;

	width:100%;

	margin:0;
	padding:5%;
}
game h1.title::selection {
    color: none; 
    background: none;
}
game h1.title.selected{
	background-color:#dfaf04;
}

game ul.categories{
	width:100%;

	margin:0;
	padding:1% 5%;

	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:center;
	align-content:center;
}
game ul.categories li{
	flex: 1 1 20%;

	list-style-type: none;

	background-color:rgba(220,240,255,.1);

	box-shadow:.1px .1px 5px #000000;
	color:#1b2848;

	text-align:center;

	margin:10px;
	padding:5px;
}
game ul.categories li::selection {
    color: none; 
    background: none;
}
game ul.categories li.selected{
	background-color:#1b2848;
	color:#ffffff;
}
h1.title.selected ~ ul.categories li.selected{
	background-color:#dfaf04;
	box-shadow:.1px .1px 5px #dfaf04;
}

game textarea.review{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:1px solid #1b2848;

	color:#5b6888;

	width:90%;
	max-width:90%;

	margin:1% 5%;
}

game div.category-toggle{

	background-color:#1b2848;
	color:white;

	text-align:center;

	width:100%;

	margin-top:1%;
	padding:1%;
}
h1.selected ~ div.category-toggle{
	background-color:#dfaf04;
}